@import 'variables.css';

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    position: relative;
    height: var( --header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    column-gap: .5rem;
    align-items: center;
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
}

.nav__toggle {
    width: 32px;
    height: 32px;
    background-color: var(--black-color);
    color: var(--white-color);
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    cursor: pointer;
}


@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--mobile-nav-color);
        width: 100%;
        height: 100%;
        padding-block: 1.8rem 5rem;
        text-align: center;
        backdrop-filter: blur(8px);
        transition: top .4;
    }
}

.nav__title,
.nav__name,
.nav__close {
    color: var(--white-color)
}

.nav__title{
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 3.5rem;
}

.nav__name {
    position: relative;
    width: max-content;
    margin: 0 auto 3rem;
    font-size: var(--h2-font-size);
}

.nav__name::after,
.nav__name::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--text-color-light);
    position: absolute;
    top: 50%;
    left: -4rem;
}

.nav__name::before {
    left: initial;
    right: -4rem;
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    position: relative;
    color: var(--text-color-light);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    transition: color .3s;
}

.nav__link::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--text-color-light);
    position: absolute;
    left: 0; 
    bottom: -0.5rem;
    transition: width .3s;
}

.nav__link:hover{
    color: var(--black-color);
}

.nav__link:hover::after{
    width: 35%;
}

.nav__close{
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}

.mobile__links {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.mobile__link{
    color: var(--black-color);
    transition: color .4s;
}

.mobile__link:hover {
    color: var(--text-color-light);
}