@import 'variables.css';

.home__container {
  padding-top: 2rem;
}

.home__name {
  font-size: var(--biggest-font-size);
  text-align: center;
}

.home__profile {
  position: relative;
  justify-self: center;
}

.home__image {
  width: 220px;
}

.home__img {
  position: relative;
  z-index: 10;
}

.home__shadow {
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
  position: absolute;
  bottom: -0.75rem;
  right: -0.75rem;
  border: 4px solid var(--black-color);
  z-index: 5;
}

.home__profile .geometric-box {
    top: 2.5rem;
    left:  -.7rem;
    z-index: 10;
}

.home__social {
    height: max-content;
    position: absolute;
    left: -3rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: grid;
    row-gap: 1rem;
}

.home__social-link{
    background-color: var(--black-color-light);
    color: var(--white-color);
    font-size: 1.25rem;
    padding: 6px;
    display: grid;
    place-items: center;
    transition: background-color .3s;
}

.home__social-link:hover {
    background-color: var(--black-color);
}

.home__info {
    margin-top: 1rem;
}

.home__description {
    text-align: center;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.home__description b {
    background: linear-gradient(90deg, hsla(46, 98%, 50%, .3), hsla(14, 98%, 50%, 0));
}

.home__scroll {
    display: block;
    width: max-content;
    margin: 0 auto;
}

.home__scroll-text {
    display: none;
}

.home__scroll-box {
    background-color: var(--black-color);
    color: var(--white-color);
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s;
}

.home__scroll-box i{
    animation: scroll-down 3s infinite;
}

@keyframes scroll-down {
    0%{
        transform: translateY(-1rem);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(.6rem);
        opacity: 0;
    }
}